<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Файловый менеджер</title>
</head>
<body>
  <h1>Создать файл</h1>
  <form method="POST" action="/api/file/create">
    <label>Путь к файлу:</label>
    <input type="text" name="path" required>
    <button type="submit" style="color: green;">Создать файл</button>
  </form>

  <h1>Удалить файл</h1>
  <form method="POST" action="/api/file/delete">
    <label>Путь к файлу:</label>
    <input type="text" name="path" required />
    <button type="submit" style="color: red;">Удалить файл</button>
  </form>

  <h1>Переименовать файл</h1>
  <form method="POST" action="/api/file/rename">
    <label>Путь к файлу:</label>
    <input type="text" name="path" required/>
    <label>Новое имя файла:</label>
    <input type="text" name="newName" required/>
    <button type="submit" style="color: yellow;">Переименовать файл</button>
  </form>

  <h1>Создать папку</h1>
  <form method="POST" action="/api/directory/create">
    <label>Путь к папке:</label>
    <input type="text" name="path" required>
    <button type="submit" style="color: green;">Создать папку</button>
  </form>

  <h1>Удалить папку</h1>
  <form method="POST" action="/api/directory/delete">
    <label>Путь к папке:</label>
    <input type="text" name="path" required>
    <button type="submit" style="color: red;">Удалить папку</button>
  </form>

  <h1>Переименовать папку</h1>
  <form method="POST" action="/api/directory/rename">
    <label>Путь к папке:</label>
    <input type="text" name="path" required/>
    <label>Новое имя папки:</label>
    <input type="text" name="newName" required/>
    <button type="submit" style="color: yellow;">Переименовать папку</button>
  </form>

  <h1>Показать содержимое папки</h1>
  <form method="GET" action="/api/directory/get">
    <label>Путь к папке:</label>
    <input type="text" name="path" required/>
    <button type="submit" style="color: blue;">Показать содержимое папки</button>
  </form>
</body>
</html>