<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Файловый менеджер</title>
</head>
<body>
  <h1>Создать файл</h1>
  <form method="POST" action="/create-file">
    <label>Путь к файлу:</label>
    <input type="text" name="path" required>
    <button type="submit" style="color: green;">Создать файл</button>
  </form>

  <h1>Удалить файл</h1>
  <form method="POST" action="/delete-file">
    <label>Путь к файлу:</label>
    <input type="text" name="path" required />
    <button type="submit" style="color: red;">Удалить файл</button>
  </form>

  <h1>Переименовать файл</h1>
  <form method="POST" action="/rename-file">
    <label>Старый путь к файлу:</label>
    <input type="text" name="path" required/>
    <label>Новое имя файла:</label>
    <input type="text" name="newName" required/>
    <button type="submit" style="color: yellow;">Переименовать файл</button>
  </form>
</body>
</html>